@tailwind base;
@tailwind components;
@tailwind utilities;

/* * we can use this or use [&>.leaflet-container]  to custom the style of leaflet map container*/
/* .leaflet-container {
  height: 40rem;
  width: 100%;
} */

html {
  font-size: 62.5%;
}

@media (min-width: 320px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 440px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 62.5%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 100%;
  }
}

.light {
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
}

.dark {
  --color-grey-0: #18212f;
  --color-grey-50: #111827;
  --color-grey-100: #1f2937;
  --color-grey-200: #374151;
  --color-grey-300: #4b5563;
  --color-grey-400: #6b7280;
  --color-grey-500: #9ca3af;
  --color-grey-600: #d1d5db;
  --color-grey-700: #e5e7eb;
  --color-grey-800: #f3f4f6;
  --color-grey-900: #f9fafb;
}
